body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  padding: 0;
}

.header {
  text-align: center;
  padding: 20px;
  background-color: #fff;
}

.header h1 {
  font-size: 3em;
  margin: 0;
  color: #333;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
}

.card {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin: 15px;
  padding: 20px;
  width: 250px;
  text-align: center;
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.card h2 {
  margin: 15px 0 10px;
  font-size: 1.5em;
}

.card p {
  color: #666;
  font-size: 1em;
}

/* Navigation Bar Styles */
.navbar {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  text-align: center;
  border-radius: 10px;
  margin-bottom: 30px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navbar li {
  display: inline;
  margin: 0 15px;
}

.navbar a {
  text-decoration: none;
  font-size: 1.2em;
  color: #333;
}

.navbar a:hover {
  color: #ff8c00;
}